.day {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100px;
  border: 1px solid black;
  padding: 5px;

  &.event {
    background-color: yellow
  }
}

.day-meta {
  display: flex;

  & > div:first-child {
    flex: 1;
  }
}

.delete-event {
  cursor: pointer;
}